<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>notify1</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.inscript.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Signup</display-name>
		<servlet-name>Signup</servlet-name>
		<servlet-class>com.inscript.Signup</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MultiSignup</display-name>
		<servlet-name>MultiSignup</servlet-name>
		<servlet-class>com.inscript.MultiSignup</servlet-class>
	     <init-param>
	         <param-name>INSTITUTES_JSON</param-name>
	         <param-value>resources/institutes.json</param-value>
	     </init-param>
	     <init-param>
	         <param-name>COURSES_JSON</param-name>
	         <param-value>resources/courses.json</param-value>
	     </init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.inscript.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Drive</display-name>
		<servlet-name>Drive</servlet-name>
		<servlet-class>com.inscript.Drive</servlet-class>
	     <init-param>
	         <param-name>JSON_KEY_FILE</param-name>
	         <param-value>resources/inscription-21c31e9535d1.json</param-value>
	     </init-param>
	     <init-param>
	         <param-name>MIMETYPE_JSON</param-name>
	         <param-value>resources/mimeTypes.json</param-value>
	     </init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Verification</display-name>
		<servlet-name>Verification</servlet-name>
		<servlet-class>com.inscript.Verification</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Data</display-name>
		<servlet-name>Data</servlet-name>
		<servlet-class>com.inscript.Data</servlet-class>
	     <init-param>
	         <param-name>INSTITUTES_JSON</param-name>
	         <param-value>resources/institutes.json</param-value>
	     </init-param>
	     <init-param>
	         <param-name>COURSES_JSON</param-name>
	         <param-value>resources/courses.json</param-value>
	     </init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FPass</display-name>
		<servlet-name>FPass</servlet-name>
		<servlet-class>com.inscript.FPass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/getLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Signup</servlet-name>
		<url-pattern>/getSignup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MultiSignup</servlet-name>
		<url-pattern>/getMultiSignup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/getLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Drive</servlet-name>
		<url-pattern>/getDrive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Verification</servlet-name>
		<url-pattern>/getVerification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Data</servlet-name>
		<url-pattern>/getData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FPass</servlet-name>
		<url-pattern>/getFPass</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/development</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>DB Connection IBM</description>
		<res-ref-name>jdbc/production</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>